@import 'style/variables.scss';

.AudioPlayer {
  position: absolute;
  right: 0;
  left: 0;
  height: 95px;
  transition: bottom 300ms;
  background: $dark2;
  border-top: 2px solid $dark3;
  z-index: 20;
  display: flex;
  align-items: center;

  .PlayerControls {
    margin: 0 30px 28px 10px;
  }

  .play-button {
    background: $accent1dark;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    color: $white1;
    border-radius: 50%;
  }

  .PlayingTrack {
    width: 100%;
    padding: 20px;

    .track-info {
      color: $white1;
      white-space: nowrap;
      overflow: hidden;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.AudioPlayer.open {
  bottom: 0;
  @include onBreak('mobile') {
    bottom: 68px;
  }
}

.AudioPlayer.closed {
  bottom: -95px;
  @include onBreak('mobile') {
    bottom: -95px;
  }
}