@import 'style/variables.scss';

.overlay {
  @include fadeIn();
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Modal {
  position: relative;
  background: $dark3;
  border-radius: 5px;
  min-height: 150px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 26px;
  cursor: default !important;

  .close-modal {
    position: absolute;
    top: 4px;
    right: 4px;
    background: none;
    border: none;
    &::after {
      content: attr(data-ico);
      font-size: 20px;
      @include maskIcon($white2);
    }
  }
}

.add-band-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 15px;
  }
}
