@import 'style/variables.scss';

.user-bands {
  display: flex;
  padding: 0 7px;
  flex-wrap: wrap;
}

.user.header {
  .avatar, .placeholder {
    border-radius: 50%;
  }
}

.UserImage {
  margin-right: 10px;
  margin-top: -10px;
  border-radius: 50%;
}
