@import 'style/variables.scss';

.UserMenu {
  // position: absolute;
  background: $dark3;
  border: 1px solid black;
  min-width: 125px;
  border: 1px solid $white3;
  border-radius: 5px;

  @include onBreak('mobile') {
    display: none;
  }

  button, a {
    color: $white2;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    background: none;
    border: none;
    // max-width: 100%;
    width: 100%;
    
    text-transform: capitalize;
    text-align: right;
    padding: 4px 12px;
    transition: background 200ms, color 200ms;
    &:hover, &:focus {
      color: $dark3;
      background: $accent2;
    }
  }

  a {
    display: block;
    max-width: 100%;
    width: auto;
  }

  section {
    width: 100%;
  }

  .user-section {
    border-bottom: 1px solid $white3;
    margin-bottom: 4px;
    padding: 12px 0;

    button, a {
      &:hover, &:focus {
        color: $white2;
        background: none;
      }  
    }
  }
  
  .log-out-section {
    margin-top: 8px;
    padding: 4px 0;
    border-top: 1px solid $white3;
  }
}

.user-menu-trigger, .user-notifications {
  position: relative;

  &.unread {
    .alert-pill {
      opacity: 1;
    }
  }
}

.user-menu-trigger {
  .alert-pill {
    top: 10px;
    right: 10px;
  }
}

.user-notifications {
  .alert-pill {
    transition: color 200ms;
    top: 7px;
    left: 12px;
  }

  &:hover {
    .alert-pill {
      background-color: $white1;
    }
  }
}

