@import 'style/variables.scss';

.CreateBand {
  width: 100%;
  margin: 20px 0 8px;
}

.StyledForm {
  .loading-submit {
    color: $accent1;
  }
}

.FileUploader {
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 200ms;
  width: min-content;

  img {
    transition: opacity 200ms;
  }

  .uploading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    > * {
      opacity: 0.5;
    }
  }

  .cta {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 200ms;
    color: $white1;
  }

}

.FileUploader.enabled {
  &:hover {
    border: 1px solid $accent1;
    > img, div {
      opacity: .3;
    }
    .cta {
      opacity: 1;
    }
  }
}