@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

@mixin showMenu($name, $display: flex) {
  .#{$name} {
    display: none;
  } 

  &:hover, &:focus {
    .#{$name} {
      display: $display
    }
  }
}

@mixin fadeIn($time: 200ms) {
  animation: fade-in $time;
}