@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;900&family=Rubik:ital,wght@0,300;0,400;0,500;1,600&display=swap');

$dark1: #08161a;
$dark2: #12262c;
$dark3: #21373f;
$white1: #ebe9ea;
$white2: #95a0a5;
$white3: #4b555a;
$gray1: #6d6d6d;
$gray2: #bebebe;
$accent1:#53f591;
$accent2: #4e9df7;
$accent1dark:#22c862;
$accent2dark: #1a72d8;
$accent3:#538cf5;
$accent4: #b94ef7;
$error: #f74e6a;


$breakpoints: (
  'mobile': 660px,
  'smallTablet': 760px,
  'tablet': 1230px,
  'laptop': 1440px
) !default;

@mixin onBreak($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` does not exist. "
    + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

@mixin showMenu($name) {
  .#{$name} {
    display: none;
  } 

  &:hover {
    .#{$name} {
      display: flex;
    }
  }
}

@mixin clickableRow {
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background-color: $dark1;
      }
    }
  }
}

@mixin fadeIn($time: 200ms) {
  animation: fade-in $time;
}

@mixin maskIcon($color1: $dark1, $color2: $color1) {
}

$b: 3px;

@mixin cutout($color1, $color2, $color3) {
}

@mixin Cta($color1, $color2, $color3: $dark1) {
  white-space: nowrap;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin spin($speed: 20s) {
  animation: rotate infinite $speed linear;
}
