@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;900&family=Rubik:ital,wght@0,300;0,400;0,500;1,600&display=swap');

$dark1: #08161a;
$dark2: #12262c;
$dark3: #21373f;
$white1: #ebe9ea;
$white2: #95a0a5;
$white3: #4b555a;
$gray1: #6d6d6d;
$gray2: #bebebe;
$accent1:#53f591;
$accent2: #4e9df7;
$accent1dark:#22c862;
$accent2dark: #1a72d8;

@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

@mixin showMenu($name) {
  .#{$name} {
    display: none;
  } 

  &:hover {
    .#{$name} {
      display: flex;
    }
  }
}

@mixin fadeIn($time: 200ms) {
  animation: fade-in $time;
}

@mixin maskIcon($color1: $dark1, $color2: $dark2) {
  -webkit-mask-clip: text;
  background: linear-gradient($color1, $color2);
  mask-clip: text;
  
  @supports (-webkit-mask-clip: text) {
    -webkit-text-fill-color: transparent;
    --full: linear-gradient(red 0 0);
    -webkit-mask: var(--full) text;
    -webkit-mask-composite: xor;
  }
}

$b: 3px;

@mixin cutout($color1, $color2, $color3) {
  border: solid 2px transparent;
  background: linear-gradient(to right bottom, $color1, $color2) border-box;  

  -webkit-text-fill-color: transparent;
  --full: linear-gradient(red 0 0);
  -webkit-mask: var(--full) text, var(--full) padding-box, var(--full);
  -webkit-mask-composite: xor;
  mask: var(--full) padding-box exclude, var(--full);
  @supports (-webkit-mask-clip: text) {
    -webkit-text-fill-color: transparent;
    --full: linear-gradient(red 0 0);
    -webkit-mask: var(--full) text, var(--full) padding-box, var(--full);
    -webkit-mask-composite: xor;
  }

  &:hover, &:focus {
    -webkit-text-fill-color: $dark3;
    -webkit-mask-composite: nor;
    mask: var(--full) text, var(--full) padding-box include, var(--full);

    &::after {
      @include maskIcon($color3)
    }
  }
}

@mixin Cta($color1, $color2, $color3: $dark1) {
  @include cutout($color1, $color2, $color3);
  padding: 6px 8px 4px;
  border-radius: 24px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  white-space: nowrap;
  // align-items: center;

  &::after { 
    content: attr(data-ico);
    font-size: 10px;
    margin-left: 6px;
    margin-top: -2px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin spin($speed: 20s) {
  animation: rotate infinite $speed linear;
}
