@import 'style/variables.scss';

header {
  max-width: 100%;
  height: 94px; // used to calculate height of main also
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: $dark3;
  transition: margin-top 300ms;
  z-index: 20;

  .right {
    display: flex;
    .CtaOne {
      margin-right: 16px;
    }
  }

  @include onBreak('mobile') {
    margin-top: -94px;
  }
}
