@import '../../variables.scss';

.DropdownCta {
  position: relative;
  display: flex;
  @include showMenu('dropdown');
}

.override-hide {
    display: flex !important;
  }

.dropdown {
  min-width: 40px;
  position: absolute;
  top: 0;
  padding-top: 50px;
  right: 0;
  height: fit-content;
  z-index: 25;
}
