@import 'style/variables.scss';
// Avatar.tsx DOES NOT USE THIS SHEET and should be refactored accordingly

.Avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  margin: 10px;
  a {
    @include fadeIn(300ms);
    height: 40px;
    width: 40px;
    background: $gray2;
    border-radius: 50%;
    color: $gray1;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border-color 200ms;
    background: linear-gradient(-45deg, $dark2, $dark3);

    img {
      width: 100%;
      height: 100%;
    }
  }

  label {
    margin-top: 4px;
    white-space: nowrap;
    font-size: 12px;
  }

  &:hover, &:focus {
    a {
      border-color: $accent1;
    }
  }
}