@import '../variables.scss';

// .Avatar {
//   // this should be refactored with the second Avatar class in mind (./Avatar)
//   @include fadeIn(300ms);
//   height: 30px;
//   width: 30px;
//   background: $gray2;
//   border-radius: 50%;
//   color: $gray1;
//   border: none;
//   font-size: 16px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
  
//   padding: 0;
//   overflow: hidden;

//   img {
//     width: 100%;
//     height: 100%;
//   }
// }

// .avatar-squared {
//   border-radius: 5px;
//   height: 60px;
//   width: 60px;
// }

.loading-icon {
  @include fadeIn(300ms);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    @include spin(1s);
    opacity: 0.8;
    width: min-content;
    height: min-content;
    &::after {
      content: attr(data-ico);
      @include maskIcon($accent1dark, $accent2dark);   
    }
  }
}

.Sort {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  color: $white2;
  .bottom-arrow {
    margin-top: -12px;
  }

  .accent {
    color: $accent2dark;
  }
}

.LinkIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  color: $dark1;
  min-width: 50px;
  .title {
    margin-top: 4px;
    font-size: 12px;
  }
}

.LinkIcon.active {
  color: $white2;
}
